
<div class="container px-3 my-5 pt-5" style="min-height: 800px;">
  <!-- Shopping cart table -->
  <div class="card mt-5">
    <div class="card-header">
      <h2> Carrinho </h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered m-0">
          <thead>
          <tr>
            <!-- Set columns width -->
            <th class="text-center py-3 px-4" style="min-width: 400px;">Produto &amp; Imagem</th>
            <th class="text-right py-3 px-4" style="width: 100px;">Preço</th>
            <th class="text-center py-3 px-4" style="width: 120px;">Quantidade</th>
            <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
            <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
          </tr>
          </thead>
          <tbody >

          <tr *ngFor="let p of products">
            <td class="p-4">
              <div class="media align-items-center">
                <img src="{{p.thumbnail}}" class="d-block w-25 mr-4">
                <div class="media-body">
                  <a href="view-product/{{p.id}}" class="d-block text-dark">{{ p.title }}</a>
                </div>
              </div>
            </td>
            <td class="text-right font-weight-semibold align-middle p-4">R$ {{p.price}}</td>
            <td class="align-middle p-4"><label>
              <input disabled type="text" class="form-control text-center" value="1">
            </label>
            </td>

            <td class="text-center align-middle px-0">
              <button type="button" class="shop-tooltip close float-none text-danger" (click)="removeItem(p)">🗑️</button></td>
          </tr>

          </tbody>
        </table>
      </div>
      <!-- / Shopping cart table -->

      <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
        <div class="mt-4">

        </div>
        <div class="d-flex" >

          <div class="text-right mt-4">
            <label class="text-muted font-weight-normal m-0">Valor Total</label>
            <div class="text-large"><strong>R$ {{allProducts}}</strong></div>
          </div>
        </div>
      </div>

      <div class="float-right">
        <a [routerLink]="['/products']" class="btn btn-lg btn-danger md-btn-flat mt-2 mr-3">voltar para produtos</a>
        <button type="button" class="btn btn-lg btn-primary mt-2">Checkout</button>
      </div>

    </div>
  </div>
</div>
