<!-- Product section-->
<section class="py-5">
  <div class="container py-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img class="card-img-top mb-5 mb-md-0" src="{{productData.thumbnail}}" alt="..." />
      </div>
      <div class="col-md-6 py-5">
        <div class="small mb-1"></div>
        <h1 class="display-4 font-weight-bolder">{{productData.title}}</h1>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through">R$ {{productData.price}}</span><br>
          <span><b>Descontos </b> R$ {{productData.discountPercentage}}</span>
        </div>
        <p class="lead mb-5">{{productData.description}}</p>
        <div class="d-flex">
          <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
          <button class="btn btn-success mb-3" (click)="handleAddToCart(productData)">
            <i class="bi-cart-fill me-1"></i>
            Adicionar ao carrinho
          </button>

        </div>
        <div class="container row" id="otherImgs">
          <div class="col-md-4">
            <div class="flex my-3">
              <div class="card">
                <img src="{{productData.images[0]}}" alt="" class="card-img img-thumbnail">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="flex my-3">
              <div class="card">
                <img src="{{productData.images[1]}}" alt="" class="card-img img-thumbnail">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="flex my-3">
              <div class="card">
                <img src="{{productData.images[2]}}" alt="" class="card-img img-thumbnail">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center pt-5">
          <button routerLink="/products"  class="btn btn-primary">Return to products</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Veja mais produtos</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

      <div class="col mb-5" *ngFor="let relatedProducts of related">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="{{relatedProducts.thumbnail}}" alt="{{relatedProducts.title}}"  style="min-height: 8rem; max-height: 8rem;"/>
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{relatedProducts.title}}</h5>
              <!-- Product price-->
              ${{relatedProducts.price}}
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <button class="btn btn-outline-dark mt-auto" routerLink="view-product/{{relatedProducts.id}}">Ver detalhes</button></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

