#initial-header{
  height: 700px;
  background-image: url("../../../../assets/images/clay-banks-XvS-uKUoUao-unsplash.jpg");
  filter: contrast(120%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

#initial-header h1{
  color: #3b43ff;
}

#initial-header p{
  color: black;
  font-weight: 900;
}

#someProducts{
  background-color: #3b43ff;
  background-image: linear-gradient(147deg, #3b43ff 0%, #FF2525 74%);

}


#someProducts img{
  min-height: 10em;
  max-height: 10em;

}

.btn-gradient
{
  background-color: #5c3bff;
  background-image: linear-gradient(147deg, #5c3bff 0%, #ff2525 74%);

}
